<h1><%= @user.name %></h1>

<% if @user.questions.any? %>
  <ul>
    <% @user.questions.each do |question| %>
      <li><%= link_to question.content, edit_question_path(question) %></li>
    <%end%>
  </ul>
<%else%>
  <h3>No questions yet!</h3>
<%end%>

<%=link_to "Add a Question", new_question_path%>
